.main-block__edit {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid white;
    background: url(../../../images/edit-con.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    justify-self: center;
    margin: 24px 0 0 14px;
    background-size: 7px 7px;
}

.main-block__edit:hover {
    opacity: 0.5;
    transition: .2s ease-in-out;
}

@media (min-width: 1024px)  {
    .main-block__edit {
        width: 24px;
        height: 24px;
        background-size: 10px 10px;
        object-fit: contain;
        align-self: center;
        margin: 23px 0 0 14px;
    }
}
