.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 155px 425px 0 425px;
    display: none;
}

.popup__inactive {
    display: block;
}

@media (min-width: 310px) and (max-width: 500px) {
    .popup {
        padding: 87px 19px 0 19px;
    }
}