.main-block__title {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    margin: 0 0 0 23px;
    box-sizing: border-box;
    color: white;
    padding: 25px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 198px;

}

@media (min-width: 1024px) {
    .main-block__title {
        font-size: 42px;
        line-height: 48px;
        max-width: 294px;
        margin: 0;
    }
}