.main-block__title {
    font-family: Arial, Helvetica, sans-serif;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    color: white;
    padding: 25px 12px 0 26px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;

}

@media (min-width: 1024px) {
    .main-block__title {
        font-size: 42px;
        line-height: 48px;
        padding: 25px 0 0 0;
    }
}