.popup__container {
    height: 370px;
    width: 466px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 310px) and (max-width: 500px) {
    .popup__container {
        width: 282px;
    }
}