.popup__container {
    min-height: 370px;
    max-width: 466px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 5px;
}

@media (max-width: 800px) {
    .popup__container {
        min-width: 282px;
        margin-top: 7px;
    }
}