.popup__container {
    max-height: 330px;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    margin-top: -15px;
}
@media (max-width:800px) {
    .popup__container {
        max-width: 282px;
        max-height: 322px;
        margin: 0;
    }
}