.main-block__adder-icon {
    background: url(../../../images/plus-icon.svg);
    height: 16px;
    width: 16px;
    position: absolute;
    background-position: 50%;
    bottom: 35%;
    box-sizing: border-box;
    margin: 0;
}

@media (min-width: 1024px) and (max-width: 1920px) {
    .main-block__adder-icon {
        height: 22px;
        width: 22px;
        top: 30%;
        left: 40%;
    }
}