.popup__form {
    background-color: white;
    min-height: 330px;
    width: 430px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 36px;
}

@media (min-width: 310px) and (max-width: 800px) {
    .popup__form {
        min-height: 321px;
        width: 281px;
        padding: 22px;
    }
}