.main-block {
    background-color: #000000;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 500px) and (max-width: 900px) {
    .main-block {
        max-width: 100%;
    }
}


@media (min-width: 1024px) {
    .main-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 36px auto 0 auto;
        align-items: flex-start;
        margin-bottom: 55px;
        max-width: 880px;
    }
}