.popup__profession {
    height: 28px;
    width: 358px;
    border: none;
    border-bottom: 1px solid gray;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 48px;
}
@media (min-width: 310px) and (max-width: 500px) {
    .popup__profession {
        width: 238px;
    }
}