.popup__close-button {
    background: url(../../../images/Close\ Icon.svg);
    height: 32px;
    width: 32px;
    box-sizing: border-box;
    border: none;
    opacity: 1;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -15px;
    left: 440px;
}

.popup__close-button:hover {
    opacity: 0.5;
    transition: .2s ease-in-out;
}

@media(max-width: 800px) {
    .popup__close-button {
        height: 21px;
        width: 21px;
        margin-bottom: 16px;
        left: 260px;
    }
}