.main-block__subtitle {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: white;
    margin: 0;
    padding: 10px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 282px;
}

@media (min-width: 1024px) {
    .main-block__subtitle {
        font-size: 18px;
        line-height: 22px;
        align-self: flex-start;
        max-width: 336px;
    }
}