.main-block__userinfo {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 330px;
}


@media (min-width: 1024px) {
    .main-block__userinfo {
        flex-direction: column;
        min-width: 380px;
        justify-content: flex-start;
        align-items: flex-start;
    }
}